[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "disparityfilter"]
	path = disparityfilter
	url = https://github.com/alessandrobessi/disparityfilter
	shallow = true
	registered = true
